.order-container {
  margin-top: 90px;
}
.order-slogan {
  font-weight: 600;
  color: #ff6b15;
}
.order-title h4 {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 45px;
}
.order-detail p {
  color: #3d3d3d;
  font-size: 16px;
  margin-bottom: 18px;
}
