.faq-container {
  margin-top: 100px;
  margin-bottom: 120px;
}
.faq-container h4 {
  text-align: center;
  font-weight: 800;
}
.accordion-box {
  width: 80%;
  margin: 0 auto;
  margin-top: 45px;
}
.accordion {
  margin-bottom: 16px;
  border: 0.1px solid #acaaaa;
  padding: 12px 20px;
  border-radius: 100px;
}
.accordion-summary {
  font-size: 20px;
  font-weight: 700;
}
.exp-icon {
  font-size: 38px;
  color: #ff6b15;
}
